body {
    background-image: url(./sample-pattern.png);
    background-repeat: repeat;
    background-position: auto;
}

.header .image-logo {
    width: 100px;
    height: 25px;
}
.header {
    width: 100%;
    margin: auto;
    display: flex;
    height: 60px;
    top: 0px;
    background-color: white;
    justify-content: space-between;
}

.section-lorem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.content {
    
    margin-left: 300px;
    margin-right: 300px;
 
}

.space-content {
    background-color: white;
    padding: 45px;
    
}

.content .space-content:nth-child(odd){
    margin-top: 5px;
    margin-bottom: 5px;
}

.title{
    color: cornflowerblue;
}

.footer {
    padding-top: 100px;
}

.container-footer {
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container-footer p {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 12px;
}
